.favouriteCities {
  width: 80vw;
  height: 80vh;
  color: white;
  background-color: black;
  opacity: 0.8;
  padding: 20px;
  margin: 10px;
  border-radius: 20px;
  overflow-y: scroll;

  ul {
    list-style-type: none;
    padding: 0;
    display: flex;
    flex-wrap: wrap;
  }

  li {
    margin: 10px 5px;
    padding: 10px;
    cursor: pointer;
    border-radius: 20px;
    background-color: #00bcd4;
    gap: 10px;
  }

  li:hover {
    background-color: #00bcd4;
  }
}


.sidebar {
  position: fixed;
  top: 0;
  right: 0;
  width: 280px;
  height: 100vh;
  background-color: #111827;
  color: white;
  padding: 1rem;
  transition: transform 0.3s ease;
  z-index: 999;
}

.sidebar.closed {
  transform: translateX(100%);
}
.close-btn {
  position: absolute;
  top: 10px;
  right: 15px;
  background: transparent;
  color: white;
  font-size: 1.5rem;
  border: none;
  cursor: pointer;
}

.close-btn:hover {
  color: #f87171;
}
.sidebar ul {
  list-style: none;
  padding: 0;
}

.sidebar li {
  cursor: pointer;
}

.toggle-btn {
  padding: 0.5rem 0.8rem;
  cursor: pointer;
  border-radius: 0.4rem;
  transition: background 0.3s;
}